// Размеры
$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;

$font: "Open Sans", sans-serif;

$background-light: #f1f7f8;
$background-dark: rgb(210, 241, 246);
$background-field: #f8f8f8;
$white: #ffffff;
$searchBorders: 2px solid rgba(8, 10, 9, 0.768);

$light-green: rgb(209, 234, 209);
$light-red: rgb(255, 218, 218);
$green: green;
$error: red;

$border: 1px solid rgba(0, 0, 0, 0.3);
