
.container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;

    padding-top: 50px;
    padding-bottom: 50px;
}

.header-search{
    display: flex;
}

.header-search__input{
    width: 400px;
    height: 40px;
}

.container-posts-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60vh;
}
