@import "_variables.scss";

body {
  background-color: $background-light;
  font-family: $font;
}

.username-block {
  display: flex;
  justify-content: flex-end;
}

#username {
  padding: 6px;
  margin: 10px;
  font-size: 14px;
  background-color: $background-field;
  border: $border;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
}

.container-posts {
  display: grid;
  background-color: $white;
  grid-template-columns: 1fr;
  border-radius: 10px;
  padding: 10px;
}

//заголовки для таблицы
.container-header{
  display: grid;
  grid-template-columns: 0.65fr 1fr 1fr 2fr 1fr;
  justify-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}
.container-header:first-child {
  text-align: start;
}
//
.posts {
  display: grid;
  background-color: $background-dark;
  grid-template-rows: repeat(auto-fit, minmax(1fr));
  margin: 10px;
  border-radius: 10px;
  justify-items: center;
  padding: 10px;
  gap: 10px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 2fr 3fr 1fr;
    align-items: center;
    padding: 10px;
    gap: 20px;
  }
}

.post {
  padding: 8px;
  font-weight: bolder;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.pagination__item {
  padding: 2px;
  margin: 0;
  cursor: pointer;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding: 5px;
    margin: 5px;
  }

  @media (min-width: $desktop) {
    padding: 8px;
    margin: 8px;
  }
}

.pagination__item--active {
  font-weight: 800;
  color: $green;
}

#postDetails {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
  z-index: 1100;
}

.modalCommentsContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.commentsContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-width: 90%;
  max-height: 100%;
  z-index: 1010;

  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  background: linear-gradient(to right, oldlace, rgb(245, 233, 211));
  padding: 25px;
  border-radius: 10px;

  @media (min-width: $tablet) {
    width: 450px;
  }
}

#author {
  text-align: center;
  font-size: 18px;
  color: $green;
}

textarea {
  max-width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: $background-field;
  margin: 10px auto;
  padding: 10px;
}

textarea:focus {
  outline: none;
}

.postDetailsBlock {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-width: 75%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
  background: linear-gradient(to right, oldlace, rgb(245, 233, 211));
  border-radius: 10px;
  overflow: auto;
  z-index: 1200;

  @media (orientation: landscape) {
    margin-top: 2%;
  }
}

.postDetailsHeader {
  font-size: 24px;
}

.postDetailsBody {
  padding: 0 5%;
  font-size: 20px;
}

.button_more {
  padding: 5px;
  margin: 10px auto;
  background: $light-green;
  border: $border;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

.close,
#closeCommentsContainer {
  font-size: 20px;
  font-weight: 700;
  opacity: 0.7;
  cursor: pointer;
}

.close {
  margin-top: 10px;
  margin-left: 100%;

  @media (min-width: $tablet) {
    margin-top: 0;
    margin-left: 120%;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    margin-left: 140%;
  }
}

#closeCommentsContainer {
  margin-left: 100%;

  @media (min-width: $tablet) {
    margin-left: 110%;
  }
}
