body {
  background-color: #f1f7f8;
  font-family: "Open Sans", sans-serif;
}

.username-block {
  display: flex;
  justify-content: flex-end;
}

#username {
  padding: 6px;
  margin: 10px;
  font-size: 14px;
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
}

.container-posts {
  display: grid;
  background-color: #ffffff;
  grid-template-columns: 1fr;
  border-radius: 10px;
  padding: 10px;
}

.posts {
  display: grid;
  background-color: rgb(210, 241, 246);
  grid-template-rows: repeat(auto-fit, minmax(1fr));
  margin: 10px;
  border-radius: 10px;
  justify-items: center;
  padding: 10px;
  gap: 10px;
}
@media (min-width: 768px) {
  .posts {
    grid-template-columns: 1fr 1fr 2fr 3fr 1fr;
    align-items: center;
    padding: 10px;
    gap: 20px;
  }
}

.post {
  padding: 8px;
  font-weight: bolder;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.pagination__item {
  padding: 2px;
  margin: 0;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .pagination__item {
    padding: 5px;
    margin: 5px;
  }
}
@media (min-width: 1280px) {
  .pagination__item {
    padding: 8px;
    margin: 8px;
  }
}

.pagination__item--active {
  font-weight: 800;
  color: green;
}

#postDetails {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
  z-index: 1100;
}

.modalCommentsContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.commentsContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-width: 90%;
  max-height: 100%;
  z-index: 1010;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  background: linear-gradient(to right, oldlace, rgb(245, 233, 211));
  padding: 25px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .commentsContainer {
    width: 450px;
  }
}

#author {
  text-align: center;
  font-size: 18px;
  color: green;
}

textarea {
  max-width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  margin: 10px auto;
  padding: 10px;
}

textarea:focus {
  outline: none;
}

.postDetailsBlock {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-width: 75%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
  background: linear-gradient(to right, oldlace, rgb(245, 233, 211));
  border-radius: 10px;
  overflow: auto;
  z-index: 1200;
}
@media (orientation: landscape) {
  .postDetailsBlock {
    margin-top: 2%;
  }
}

.postDetailsHeader {
  font-size: 24px;
}

.postDetailsBody {
  padding: 0 5%;
  font-size: 20px;
}

.button_more {
  padding: 5px;
  margin: 10px auto;
  background: rgb(209, 234, 209);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

.close,
#closeCommentsContainer {
  font-size: 20px;
  font-weight: 700;
  opacity: 0.7;
  cursor: pointer;
}

.close {
  margin-top: 10px;
  margin-left: 100%;
}
@media (min-width: 768px) {
  .close {
    margin-top: 0;
    margin-left: 120%;
  }
}
@media (min-width: 1280px) {
  .close {
    margin-top: 0;
    margin-left: 140%;
  }
}

#closeCommentsContainer {
  margin-left: 100%;
}
@media (min-width: 768px) {
  #closeCommentsContainer {
    margin-left: 110%;
  }
}/*# sourceMappingURL=style.css.map */
.mistakeShow {
  color: red;
  font-weight: 600;
  font-size: 12px;
  padding: 3px 10px;
  }