@import "_variables.scss";

body {
  background-color: $background-light;
  font-family: $font;
}

.username-block {
    display: flex;
    justify-content: flex-end;
  }
  
  #username {
    padding: 6px;
    margin: 10px;
    font-size: 14px;
    background-color: $background-field;
    border: $border;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
  }

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
}

.container-posts {
  display: grid;
  background-color: $white;
  grid-template-columns: 1fr;
  border-radius: 10px;
  padding: 10px;
}

.posts {
  display: grid;
  background-color: $background-dark;
  grid-template-columns: 1fr 1fr 2fr 3fr 1fr;
  margin: 10px;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.commentsContainer {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  margin: 10px auto;
  padding: 20px;
}

#author,
.titleСomment,
.commentinput {
  text-align: center;
}

textarea {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: $background-field;
  margin: 10px auto;
}

textarea:focus {
  outline: none;
}

.post {
  /* СТИЛИ ДЛЯ ЗАГОЛОВКА ПОСТА */
  padding: 8px;
  font-weight: bolder;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  list-style-type: none;
}

.pagination__item {
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}

.pagination__item--active {
  font-weight: 800;
  color: $green;
}

#postDetails {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
  z-index: 9999;
}

.postDetailsBlock {
  display: flex;
  flex-direction: column;
  margin: 20% 5%;
  padding: 2% 10%;
  align-items: center;
  background: linear-gradient(to right, oldlace, rgb(245, 233, 211));
  border-radius: 10px;

  @media (min-width: $tablet) {
    margin: 15% 20%;
  }
}

.postDetailsHeader {
  font-size: 24px;
}

.postDetailsBody {
  padding: 0 5%;
  font-size: 20px;
}

.button_more {
  padding: 5px;
  margin: 10px auto;
  background: $light-green;
  border: $border;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

.close {
  margin-top: 10px;
  margin-left: 105%;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.7;
  cursor: pointer;

  @media (min-width: $tablet) {
    margin-top: 0;
    margin-left: 130%;
  }
}
